<p-menubar [model]="general">
  <div class="d-flex justify-content-between align-items-center m-1">
    <app-notification class="mt-1"></app-notification>
    <button
      pButton
      pRipple
      type="button"
      (click)="cerrarSesion()"
      label="Salir"
      icon="pi pi-sign-out p-button-outlined p-button-danger"
      class="p-button-outlined p-button-danger p-button-sm"
    ></button>
  </div>
</p-menubar>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
